{% extends "blogapp/plantilla_base.html" %}
{% load static %}

{% block contenido_base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Sección de artículos</h1>
                    <p class="lead mb-0">Entérate de las noticias relevantes del mundo del cine</p>
                </div>
            </div>
        </header>

    {% for lista in listas %} 

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div align="center">
                    <!-- Featured blog post-->
                    <div class="card mb-3" style="width: 55rem" align="left">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>  <!--//TODO meterle lista.imagen -->

                        <div class="card-body">
                            <div class="small text-muted">{{lista.fecha}}</div>
                            <h2 class="card-title">{{lista.titulo}}</h2>
                            <h4 class="card-title">{{lista.creador}}</h4>
                            <p class="card-text">{{lista.contenido}}</p>
                            <a class="btn btn-primary" href="#!">Leer más →</a>
                        </div>
                    </div>
                </div>
    {% endfor %}
                
                <div align="center">
                            <a class="btn btn-primary btn-lg px-6 me-sm-6" href="{% url 'crear_articulo' %}">Crear artículo</a>
                            </div>
                        </div>
                    </div>
                </div>
                                        <p></p>

                </div>
            </div>
        </div>

{% endblock contenido_base %}