{% extends "blogapp/plantilla_base.html" %}
{% load static %}

{% block contenido_base %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Sección de artículos</h1>
                    <p class="lead mb-0">Entérate de las noticias relevantes del mundo del cine</p>
                </div>
            </div>
            <div align="center">
                {% if user.is_authenticated %}

                <a class="btn btn-primary btn-lg px-6 me-sm-6" href="{% url 'crear_articulo' %}">Crear artículo</a>
                {% else %}
                <a class="btn btn-primary btn-lg px-6 me-sm-6" href="{% url 'sign_in' %}">Crear artículo</a>
                <p class="small text-muted">Debes iniciar sesión para poder crear un artículo</p>
                {% endif %}

   <p></p>
        </header>

    {% for lista in listas %} 

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div align="center">
                    <!-- Featured blog post-->
                    <div class="card mb-3" style="width: 50rem" align="left">
                        {% if lista.imagen %}
                        <a href="#!"><img class="card-img-top" style="height:30rem" img src="{{lista.imagen.url}}" alt="..." /></a>  <!--//TODO meterle lista.imagen -->
                        {% endif %}
                        <div class="card-body">
                            <div class="small text-muted">{{lista.fecha}}</div>
                            <h2 class="card-title">{{lista.titulo}}</h2>
                            <h4 class="card-title">{{lista.creador}}</h4>
                            <p class="card-text">{{lista.contenido}}</p>
                            <a href="{% url 'eliminar_art' lista.id %}" class="btn btn-second btn-lg px-6 me-sm-6">Eliminar →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock contenido_base %}